body {
    margin: 0;
    font-family: -apple-system, "SF", sans-serif;
}

@font-face {
    font-family: "SF";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/sf.ttf") format("truetype");
}

#app {
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    text-transform: none !important;
}

.top-action-bar .v-input__details {
    display: none !important;
}

img.loading-icon {
    content: url("assets/images/90-ring-with-bg.svg");
}