name: Wails build

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build: [
          {name: SydneyQt-linux-amd64, platform: linux/amd64, os: ubuntu-latest},
          {name: SydneyQt-windows-amd64.exe, platform: windows/amd64, os: windows-latest},
          {name: SydneyQt-darwin-universal, platform: darwin/universal, os: macos-latest}
        ]
    runs-on: ${{ matrix.build.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: dAppServer/wails-build-action@v2.2
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          nsis: false
          wails-build-webview2: embed
          go-version: 1.21
          node-version: 18.x
